body {
  color: rgba(0, 0, 0, 0.84);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  margin: auto;
  max-width: 35em;

  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-size: 20px;
  line-height: 28px;
  padding-bottom: 2em;
}

a {
  color: rgb(0, 96, 160);

  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

header {
  margin-top: 1em;
  font-size: 0.7em;
}

ul {
  line-height: 1.5em;
  list-style-type: circle;
}

.post {
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-size: 20px;
  line-height: 28px;
}

.container {
  margin-top: 3em;
  margin-left: 1em;
  margin-right: 1em;
}

.post-date {
  font-size: 0.8rem;
  margin-top: -1em;
  color: rgba(0, 0, 0, 0.54) !important;
}

.gatsby-resp-image-link {
  border: none !important;
}

.gatsby-resp-image-wrapper {
  max-width: none !important;
}

.subscribe {
  display: inline;
  margin: 0;
  padding: 0;
}

input[type="email"] {
  outline: none;
  border: none;
  color: rgba(0, 0, 0, 0.54) !important;
  font-size: 1em;
  margin: 0;
  padding: 0;
  border-bottom: 1px dashed;
  border-radius: 0;
}

#subscribe-button {
  border: none;

  color: rgb(0, 96, 160);

  text-decoration: none;
  cursor: pointer;

  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-size: 1em;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  font-weight: bold;

  margin: 0;
  padding: 0;
}

.middle::before {
  content: " ";
}

.layout {
  display: flex;
  flex-direction: row;
}

.layout__collections {
  margin-left: 4em;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .middle::before {
    content: "";
  }
  .middle {
    display: block;
  }
  .layout {
    display: initial;
  }
  .layout__collections {
    margin-left: 0;
  }
}

blockquote {
  margin: 0;
  padding-left: 0.5em;
  border-left: 0.3em solid #999;
}
